body{
    background: linear-gradient(#18A2C9, #14E357, #C5FA34,#9A8DC9);
    color: black;
    text-align: justify;
    padding: 30px;
    margin-left: 10;
    margin-right: 10;
}


h2{
    text-transform: uppercase;
    color: black;
    font-family: "Libre Baskerville, serif";
    width: 50%;
    margin-left: 25%;
    text-align:center;
}


hr{
    
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 60px auto;
}

.img{
    margin-top: 50px
    

}


@media screen and (max-width: 600px) {

       

    

    
    .author-profile {
        margin-left: 5px;
        margin-top: 100vh;
        width: 100px;
        background-color: #D4FAFC;
        padding: 60px;
        text-align: center;
        border: 1px solid #ccc;
        display: block;
        height: 100vh;
        display: block;
        gap: 3rem
        
    }


   
}

.carousel {
    position: relative;
    margin-bottom: 4rem;
    display: block;
    box-sizing: border-box;
    margin-top:4rem;

}

li{
    text-transform: uppercase;
    color: black;
    font-family: "Libre Baskerville, serif";
    width: 50%;
    text-align: left;
}

h3{
    color:white;
    font-size:2 rem;;
    margin: 50px auto 0 auto;
    font-family:"Libre Baskerville, serif";
    text-transform: uppercase;
    text-align: center;
}

.copyright{
    text-align: center;
}

.back-button {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color:#3AB6C2;
    border-radius: 30px;
    border: none;
    transition: background-color 0.3s;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  }


  
  .back-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }


  header{
    display: flex;
     justify-content: space-between;
    padding: 20px;
    gap :3rem;


      }