
body{
    background: linear-gradient(#203842,#1C5C53,#45BDBF,#0F343B,#203842);
    color: white;
    text-align: justify;
}



.back-button {
    background-color: #203842;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 30px;
    border: none;
    transition: background-color 0.3s;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .back-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }

h1 {
    color: #66bfbf;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

h2{
    display: block;
    margin-block-start: 0.67em;
    font-size:  1rem;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    color: #2A75D4;
}



.img{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
}

hr{
    
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 60px auto;
}

p{
    margin-left: 10px;
    margin-right: 10px;

}

.signature{
    justify-content: center;
    text-align: center;
}

li{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    color: #070707;
    text-decoration: double;
    


}


h3{
    display: block;
    margin-block-start: 0.67em;
    font-size:  1rem;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}


.copyright{
    text-align: center;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
}